* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #a5a5a5;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.details-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

.add-cart {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-top: 4px solid black;
  background: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.add-cart:hover {
  background: white;
  color: black;
}

div ul {
  list-style: none;
  margin: 0;
}

div ul li {
  height: 22px;
  width: 22px;
  margin: 0;
  margin-right: 10px;
  background-color: black;
  display: inline-block;
}

div ul li:last-child {
  margin: 0;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.gold {
  background-color: gold;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}

.details-list li {
  height: auto;
  width: auto;
  background-color: transparent;
  display: list-item;
  margin-bottom: 10px;
}

.main-img {
  float: left;
}

.description {
  float: left;
  width: 243px;
  margin-left: 40px;
  margin-top: 20px;
}

.price {
  float: left;
}

.shipping {
  float: right;
}

p {
  margin-bottom: 10px;
  display: inline-block;
}

.details {
  float: left;
  width: 243px;
  margin-left: 40px;
  margin-top: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
